
<div class="theme-slider">
  <div id="example2" class="slider-pro">
    <div class="sp-slides">
      <div class="sp-slide">
              <a href="">
          {{ 'mountains.jpg' | asset_url | img_tag }}
        </a>
        <!-- <p class="sp-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
      </div>
      <div class="sp-slide">
            <a href="">
          {{ 'nyc-skyline.jpg' | asset_url | img_tag }}
        </a>
        <!-- <p class="sp-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
      </div>
      <div class="sp-slide">
            <a href="">
          {{ 'mountains.jpg' | asset_url | img_tag }}
        </a>
        <!-- <p class="sp-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
      </div>
      <div class="sp-slide">
            <a href="">
          {{ 'nyc-skyline.jpg' | asset_url | img_tag }}
        </a>
        <!-- <p class="sp-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
      </div>
      <div class="sp-slide">
            <a href="">
          {{ 'mountains.jpg' | asset_url | img_tag }}
        </a>
        <!-- <p class="sp-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
      </div>
      <div class="sp-slide">
            <a href="">
          {{ 'nyc-skyline.jpg' | asset_url | img_tag }}
        </a>
        <!-- <p class="sp-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
      </div>
    </div>
  </div>
</div>